<div class="panel panel-primary">
  <div class="panel-heading">Order Status</div>
    <div class="panel-body">
      <div class="input-group">
        <h3>Complete!</h3>
      </div>
    </div>
  </div>
  <a class="btn btn-primary btn-lg btn-block" href="/scan" role="button">Scan</a>
</div>