<div class="panel panel-primary">
  <div class="panel-heading">Not Found</div>
    <div class="panel-body">
      <div class="input-group">
        <p>Sorry, This is not the page you are looking for.</p>
      </div>
    </div>
  </div>
</div>